In [2]:
import json
import pandas as pd

In [4]:
df = pd.read_csv("stocks_data.csv")
with open("stocks_info.json", "r") as fp:
    info = json.load(fp)

In [6]:
truth = {}

       stock       Close   Adj Close
0       MSFT   30.950001   23.347319
1       MSFT   30.959999   23.354864
2       MSFT   30.770000   23.211533
3       MSFT   30.450001   22.970140
4       MSFT   30.660000   23.128557
...      ...         ...         ...
111233  COST  901.440002  901.440002
111234  COST  885.619995  885.619995
111235  COST  886.520020  886.520020
111236  COST  877.380005  877.380005
111237  COST  878.530029  878.530029

[111238 rows x 3 columns]